<div class="container">
  <div class="row justify-content-md-center">
    <form [formGroup]="loginForm" class="col-md-4 align-items-center">
      <h1 class="fw-bold text-center">CorpLinker</h1>

      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" type="email" formControlName="email">
          <mat-icon matSuffix class="material-symbols-outlined">mail</mat-icon>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <div class="button-container text-end">

          <ng-container *ngIf="loginForm.valid; else noValid">
            <button  mat-stroked-button (click)="login()" class="blur">Iniciar sesión</button>
          </ng-container>

          <ng-template #noValid>
            <button  mat-stroked-button (click)="validateForm()" disabled class="gray">Iniciar sesión</button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
